.cart-page-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1350px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.table-container{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;
}

.table-header, .table-row td{
  text-align: center;
  width: 25%;
}

.table-product-name{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 300px;
}

.delete-product-btn{
  position: absolute;
  width: 24px;
  height: 24px;
  top: -6px;
  left: -4px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #DB4444;
  cursor: pointer;
}

.table-product-img{
  width: 54px;
  height: 54px;
  object-fit: contain;
  margin-right: 10px;
}

.table-product-name p{
  margin: 0;
}

.delete-product{
  background-color: transparent;
  border: 1.5px solid black;
  border-radius: 50%;
  padding: 2px 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.table-quantity-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 40px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

.table-quantity-value{
  width: 16px;
  border: none;
  background-color: transparent;
}

.quantity-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#quantityDecrease{
  transform: rotate(180deg);
}

.buttons-container{
  display: flex;
  justify-content: space-between;
}

.cart-button{
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px 48px;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
}

.cart-button a{
  text-decoration: none;
  color: black;
}

.coupon-cart-frame{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}

.coupon-input{
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 10px;
  margin-bottom: 10px;

}

.coupon-button:hover,
.checkout-button:hover{
  background: rgb(219,68,64);
  background: linear-gradient(90deg, rgba(219,68,64,1) 0%, rgba(129,36,34,1) 100%);
  cursor: pointer;
}

.cart-container{
  width: 470px;
  padding: 30px 20px;
  border: 1.5px solid black;
}

.cart-container h3{
  font-weight: 500;
}

.cart-row{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.checkout-button{
  margin-top: 10px;
  margin-left: 25%;
}

.checkout-button,
.coupon-button,
.cart-button{
  font-weight: 500,;
}

.checkout-button,
.coupon-button{
  border: none;
  border-radius: 4px;
  padding: 16px 48px;
  color: white;
  background-color: #DB4444;
}

@media (max-width: 900px) {
  .coupon-cart-frame{
    flex-wrap: wrap;
  }
  .coupon-container{
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .table-container{
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .table-container table {
    width: 100%;
  }
}

