/*Buse/JU-5 Homepage Featured Product START*/
.featured-products-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1350px;
  min-height: 500px;
  margin: auto;
  padding: 70px 50px;
  background-color: black;
}

.featured-products{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  min-height: 400px;
}

.categories-title{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #00FF66;
}

.featured-slogan{
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  font-family: "Inter", sans-serif;
  color: white;
}

.timer-container{
  display: flex;
  justify-content: space-between;
}

.timer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  background-color: white;
}

.timer-value{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.buy-button{
  width: 200px;
  padding: 16px 48px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #00FF66;
  color: white;
  cursor: pointer;
}

.buy-button:hover{
  background: rgb(0,255,102);
  background: linear-gradient(90deg, rgba(0,255,102,1) 0%, rgba(2,133,55,1) 100%);
}

.speaker-photo{
  z-index: 2;
  filter: drop-shadow(5px 5px 100px #717171);
}

@media (max-width: 880px) {
  .featured-products-container{
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
  }
  .speaker-photo{
    width: 100%;
  }
}
/*Buse/JU-5 Homepage Featured Product*/