
.wishlist-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
}

/*ürünleri tutan en dış div*/
.wishlist-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 270px));
    gap: 25px;
    margin-top: 20px;
}

/*tek bir ürünü tutan card*/
.container-card{
    display: flex;
    flex-direction: column;
    position: relative;
   
}

.wishlist-buttons{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex: 1;
}


#wishlist-header{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
}

#whislist-href{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 16px 40px;
    color: black;
}

.img-container{
   
  background-color: transparent;
  border: 3px solid #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 height: 275px;
}
   
    


/*resim*/
.img-product{
   
  object-fit: contain;
  width: 100%;
  height: 100%;
   
 
}

.product-paragraph{
    text-align: center;
    background-color: black;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;
}

.explanation-product {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
    
  }

  .prices {
    font-family: "Poppins", sans-serif;
    color: #DB4444;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  .icons {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

 